* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: black;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.dark-mode{
    background-color: grey;
}

.dark-mode header h1{
    color: white;
}

.dark-mode footer{
    color: white;
}

header {
    padding: 2rem;
    margin-top: 1rem;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
}

section.style{
    border: solid 0.1px black;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: pink;
}

section.style h2{
    text-align: center;
}

section#about{
    height: min-content;
    margin-left: 5rem;
}

section#img{
    margin-left: 15rem;
}

section#link a{
    border: 0.1rem solid black;
    border-radius: 50%;
    padding: 15%;
    color: black;
    text-decoration: none;
    background-color: yellow;
    font-size: 3rem;
    margin-left: 30rem;
}

section#link a:hover{
    color: red;
}

section#projects{
    margin-right: 5rem;
}

footer {
    margin-top: 20rem;
    text-align: center;
}